
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color: aliceblue;
}
h1 {
    font-size: 50px;
    font-family:  Geneva, Verdana, sans-serif;
    color: rgb(214, 91, 112);

}
.card-of-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 400px;
    height: 100%;
    background-color: rgb(199, 140, 150);
    border-radius: 10px;
}
.add-todo{
    margin: 10px;
    padding: 10px;
    width: 97%;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.group-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}
.items {
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
}
.delete-item {
    display: none;
    position: absolute;
    left: 58%;
    border: none;
    background: none;
    color: rgb(230, 71, 71);
    font-weight: bold;
}
.items:hover .delete-item {
    display: inline-block;
    padding: 0px;

}
h5 {
    margin: 0 auto;
    padding: 10px;
    font-family:  Geneva, Verdana, sans-serif;
    text-align: center;
    color:rgb(255, 212, 219)
}