
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.card-of-list{
    margin: 0 auto;
    width: 700px;
    height: 500px;
    background-color: rgb(182, 191, 201);
    border-radius: 10px;
}
.add-todo{
    margin: 10px 10px 0px 10px;
    padding: 10px;
    width: 97%;
    height: 50px;
    border: none;
    border-radius: 5px;
}
.group-list{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}
.items {
    display: flex;
    width: 100%;
    height: 30px;
    margin: 10px;
    padding: 3px 0px 0px 20px;
    border-radius: 4px;
    background-color: white;
}
.delete-item {
    display: none;
    position: relative;
    left: 84%;
    border: none;
    background: none;
    color: rgb(230, 71, 71);
}
.items:hover .delete-item {
    display: inline-block;
}
